name: Azure Static Web Apps CI/CD

on:
  release:
    types: [created, edited]

jobs:
  build_and_deploy_job:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
          lfs: false
      - name: Set build and release information
        id: build_release_info
        run: |
          BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
          COMMIT_HASH=${{ github.event.pull_request.head.sha || github.sha }}
          BUILD_BRANCH_OR_TAG=${{ github.head_ref || github.ref_name }}
          sed -i "s|\"build_date\": \"{{BUILD_DATE}}\"|\"build_date\": \"$BUILD_DATE\"|" static/version.json
          sed -i "s|\"commit_hash\": \"{{COMMIT_HASH}}\"|\"commit_hash\": \"$COMMIT_HASH\"|" static/version.json
          sed -i "s|\"build_branch_or_tag\": \"{{BUILD_BRANCH_OR_TAG}}\"|\"build_branch_or_tag\": \"$BUILD_BRANCH_OR_TAG\"|" static/version.json
          cat static/version.json
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PURPLE_PEBBLE_028724203 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "build/server" # Api source code path - optional
          output_location: "build" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######
        env:
          VITE_AUTH0_CLIENT_ID: VSkXGqlTD7Rf5Q4n9a0h00rInEyL2ZQj
